#uslugi-yandex {
	width: 580px;
	font-family: Tahoma;
}

#uy-form, #uy-result {
	padding: 20px 10%;
	border: 1px solid silver;
}

#uslugi-yandex table {
	width: 100%;
}

.uy-select {
	width: 210px;
}

.uy-select-mini {
	width: 70px;
}

#uy-form-table td {
	padding-top: 10px;
}

#uy-form-table td {
	vertical-align: top;
}