#uslugi-yandex {
	width: 580px;
	font-family: Tahoma;
}

#uy-form, #uy-result {
	padding: 20px 5%;
	border: 1px solid silver;
}

#uslugi-yandex table {
	width: 100%;
}

.uy-select {
	width: 210px;
}

.uy-select-mini {
	width: 70px;
}

#uy-form-table td {
	padding-top: 10px;
}

#uy-form-table td {
	vertical-align: top;
}

.uy-unvalid {
	background: rgb(255, 184, 184);
}

.uy-input-text {
	text-align: center;
}

.uy-credit {
	padding-bottom: 20px;
}

.uy-credit-table {
	margin-top: 10px;
	font-size: 11px;
	text-align:	center;
}

.uy-credit-table-tr-first {
	background: silver;
}

#uy-templates {
	display: none;
}


